.back-btn {
    transition: var(--transition);
}
.book-details-info::-webkit-scrollbar {
    width: 8px;
}
.book-details-info::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.book-details-info::-webkit-scrollbar-thumb {
    background: var(--purple-color);
    outline: -1px solid slategray;
    border-radius: 8px;
}
@media screen and (min-width: 768px){
    .book-details-content{
        grid-template-columns: 40% 60%;
        gap: 0
    }
    .book-details-img{
        padding: 0 6rem 0 2rem;
    }
    .book-details-img img{
        max-width: 100%;
    }
}