.book-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
}
.book-item:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child {
    opacity: 0.8;
}
@media (min-width: 600px) {
    .booklist-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .booklist-content {
        grid-template-columns: repeat(4, 1fr);
    }
    .book-item-img img {
        max-width: 150px;
    }
}